.idea
node_modules
npm-debug.log
lib
typings
/bundles
/demo/**/*.js
/demo/**/*.js.map
/demo/**/*.d.ts
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/test/**/*.js
/test/**/*.js.map

ng2-formly.js
ng2-formly.d.ts
ng2-formly.js.map
