.config
.idea
node_modules
src
.editorconfig
.gitignore
.npmignore
.travis.yml
gulpfile.js
ng2-formly.ts
tsconfig.json
tslint.json

gulp-tasks
logs

# typings
typings
typings.json

# testing
test
karma.conf.js
test.bundle.js
coverage

# demo build
demo
demo-build
webpack.config.js

#typescript sources
*.ts
*.js.map
!*.d.ts
/src/**/*.ts
!/src/**/*.d.ts
