<div class="form-group" [ngFormModel]="form" [ngClass]="{'has-danger': !form.controls[key].valid}">
    <label attr.for="{{key}}" class="form-control-label">{{options.label}}</label>
    <input type="{{options.type}}" [ngControl]="key" class="form-control" id="{{key}}" placeholder="{{options.placeholder}}" [disabled]="options.disabled" (keyup)="inputChange($event, 'value')" (change)="inputChange($event, 'value')" *ngIf="!options.hidden" [ngClass]="{'form-control-danger': !form.controls[key].valid}">
    <small class="text-muted">{{options.description}}</small>
    <small class="text-muted text-danger"><formly-message [control]="key"></formly-message></small>
</div>