<div style="margin-bottom: 20px">
  @for (example of examples; track example) {
    <button (click)="loadExample(example)" class="btn" [class.btn-primary]="type === example">
      {{ example }}
    </button>
  }
</div>

@if (fields) {
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
  </form>
}
