<header class="docs-header-background mat-typography">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1"> Angular Formly</h1>
      <h2>Dynamic Forms for ANGULAR</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
    </div>
  </div>
</header>

<div class="docs-homepage-promo mat-typography">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img"></div>
    <div class="docs-homepage-promo-desc">
      <h2>What is Formly</h2>
      <p>
        `ngx-formly` is an Angular module which has a Components to help customize and render JavaScript/JSON configured forms. The
        `formly-form` Component and the `FormlyConfig` service are very powerful and bring unmatched maintainability to your applications
        forms.
      </p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Simpler than cake</h2>
      <p>
        Do it yourself templates through `formlyConfig` service, and fully customizable for when you need to stay on-brand or just
        have extra field type.
      </p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img"></div>
    <div class="docs-homepage-promo-desc">
      <h2>One developer, many frameworks</h2>
      <p>
        A single Web development team is now a cross-framework application powerhouse. Focus more energy on building better experiences,
      and less energy on making experiences consistent across development teams and frameworks.
      </p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img"></div>
    <div class="docs-homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>
        Built by members of Amazing Angular Community to integrate seamlessly with Angular.
      </p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a mat-raised-button class="docs-button" routerLink="/guide/getting-started">Get started</a>
  </div>
</div>

<!-- <app-footer></app-footer> -->
