.app-navbar {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 56px;

  img {
    height: 26px;
    margin: 0 4px 3px 0;
  }

  &.navbar-small .mat-button {
    padding: 0 8px;
    min-width: unset;
  }
}
