// bootstrap
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/card';

legend {
  margin-bottom: 20px;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

// highlight.js
@import '~highlight.js/styles/github.css';

// material
@import '~@angular/material/theming';

@import './app/shared/example-viewer/example-viewer-theme';
@include mat-core();

// Define a theme.
$matPrimary: mat-palette($mat-blue-grey, 900);
$matAccent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($matPrimary, $matAccent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
@include example-viewer-theme($theme);

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.active-link {
  color: map_get($mat-blue-grey, 900) !important;
}

@import './markdown.css';

// ag-grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

footer {
  font-size: 85%;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  a {
    font-weight: 500;
    color: $gray-700;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  p {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  .bd-footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bd-footer-logo-text {
      position: relative;
      &::after {
        content: '.dev';
        font-size: smaller;
        position: absolute;
        bottom: -11px;
        right: 0px;
      }
    }
  }

  .bd-footer-badges {
    display: flex;
    justify-content: flex-end;
  }

  .bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;

    li {
      display: inline-block;

      + li {
        margin-left: 1rem;
      }
    }
  }
}
