// bootstrap
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';

// prism
@import '~prismjs/themes/prism.css';

// material
@import '~@angular/material/theming';

@import './app/shared/example-viewer/example-viewer-theme';
@import './app/home/home-theme.scss';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
@include example-viewer-theme($theme);
@include home-page-theme($theme);

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
