// bootstrap
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/card';

legend {
  margin-bottom: 20px;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

// highlight.js
@import '~highlight.js/styles/github.css';

// material
@import '~@angular/material/theming';

@import './app/shared/example-viewer/example-viewer-theme';
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);
@include example-viewer-theme($theme);

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.active-link {
  color: #3f51b5 !important;
}

@import './markdown.css';

// ag-grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
