<div class="docs-example-viewer-wrapper">
  <div class="docs-example-viewer-title">
    <div class="docs-example-viewer-title-spacer">{{ title }}</div>
    <formly-stackblitz-button [type]="type" [example]="example"></formly-stackblitz-button>
    <button mat-icon-button type="button" (click)="toggleSourceView()" [matTooltip]="'View source'">
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fit="" preserveAspectRatio="xMidYMid meet"
          focusable="false">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"></path>
        </svg>
      </mat-icon>
    </button>
  </div>

  <div class="docs-example-viewer-source" *ngIf="showSource">
    <mat-tab-group>
      <mat-tab *ngFor="let f of example" [label]="f.file">
        <div class="docs-example-source-wrapper">
          <button mat-icon-button type="button" class="docs-example-source-copy" title="Copy example source" aria-label="Copy example source to clipboard"
            (click)="copySource(textContent)">
            <span class="fa fa-copy"></span>
          </button>
          <pre class="docs-example-source" [innerHtml]="f.content" #textContent></pre>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="docs-example-viewer-body">
    <div class="alert alert-info" *ngIf="description" [innerHtml]="description"></div>
    <ng-template #demo></ng-template>

    <div *ngIf="demoComponentRef && debug !== false">
      <h3>Form Data</h3>
      <pre [style.display]="'none'">{{ model }}</pre>
      <pre #modelPreview></pre>
    </div>
  </div>
</div>
