:host {
  display: block;
  padding: 20px 0;
}

.docs-example-viewer-wrapper {
  h3 {
    margin-top: 10px;
  }
}

.docs-example-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.docs-example-viewer-title-spacer {
  flex: 1 1 auto;
}

.docs-example-source-copy {
  position: absolute;
  top: 8px;
  display: none;
}

.docs-example-source-wrapper:hover {
  .docs-example-source-copy {
    display: inline-block;
  }
}

.docs-example-source {
  min-height: 150px;
}

.docs-example-viewer-body {
  padding: 30px;
}
