<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs;let index = index;"
      [label]="tab.label"
      [disabled]="index !== 0 && !form.at(index - 1)?.valid">
      <formly-form
        [form]="form.at(index)"
        [model]="model"
        [fields]="tab.fields"
        [options]="options[index]">
      </formly-form>
    </mat-tab>
    <mat-tab label="Submit">
      <div>
        <button mat-raised-button class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</form>
